<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="css/not-found.css">
    <title>404 - Page Not Found</title>
</head>
<body id="not-found">
    <div class="body-lost"></div>
        <h1 id="header-404">Are you lost?</h1>
        <p id="lost-404">Don't worry, we will guide you back</p>
        <div class="mdc-touch-target-wrapper">
            <button class="mdc-button mdc-button--touch">
              <span class="mdc-button__ripple"></span>
              <span class="mdc-button__label"><a href="/" id="home-not-found">Home</a></span>
              <span class="mdc-button__touch"></span>
            </button>
            
          </div>
    </div>
</body>
</html>
